
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() { return request.auth != null; }
    function isOwner(uid) { return isSignedIn() && request.auth.uid == uid; }
    function isAdmin() { return isSignedIn() && request.auth.token.email == 'rajahribabakumar@gmail.com'; }

    match /users/{userId} {
      allow read: if true;
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isOwner(userId) || isAdmin();
      allow delete: if isAdmin();
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn(); // For liking and following updates
      allow delete: if isOwner(resource.data.userId) || isAdmin();
    }

    match /videos/{videoId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /app_settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
